.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 76px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.input__icon {
  height: 30px;
  color: var(--color-dove-gray);

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.input__icon:hover {
  color: var(--color-black);
}

.input.ghost {
  padding: 5px 10px;

  background: var(--color-gallery);
  border-radius: 4px;
}

.input.transparent {
  padding: 5px 0;

  background: transparent;
  border-bottom: 1px solid var(--color-black);
}

.input__field {
  width: 100%;
  background: inherit;
  border-radius: inherit;
}

.input__field::placeholder {
  font-weight: 500;
}

.input__icon.left {
  order: -1
}
