.auth {
  display: flex;
  flex-direction: column;
}

.auth__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 24px;
}

.auth__actions {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.auth__actions a {
  text-align: center;

  transition: all 0.2s ease;
}

.auth__actions a:hover {
  color: var(--color-dove-gray);
}
