.footer {
  padding: 16px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 36px;

  font-size: 12px;
  text-transform: uppercase;
}

.footer__links li a,
.footer__socials li a {
  color: var(--color-dove-gray);

  transition: all 0.2s ease;
}

.footer__links li a:hover,
.footer__socials li a:hover {
  color: var(--color-black);
}

.footer__socials {
  display: flex;
  gap: 30px;
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .footer {
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    border-top: 1px solid var(--color-alto);
  }

  .footer__links {
    align-items: center;
    flex-direction: row;
    gap: 30px;
    order: -1;
    margin: 0;
  }

  .footer__links li {
    text-align: center;
  }

  .footer__socials {
    order: 1;
  }
}
