.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.error__status {
  font-weight: 500;
}

.error__text {
  margin: 24px 0 64px 0;

  color: var(--color-dove-gray);
}
