@import "variables.css";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
  font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
    overflow-y: hidden;
}

h1 {
  font-size: 33px;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 26px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

.left {
  text-align: left;
}

a {
    color: var(--color-black);

    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}
