@import "variables.css";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
    overflow-y: hidden;
}

a {
    color: var(--color-black);

    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}
